body {
    background-image: url("background.jpg");
    background-color: #ebebeb;
    background-repeat: no-repeat;
   }

   #counter {
    color: #124578;
    font-weight: bold;
   }

.mainApp {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0%;
}

#tasksList {
    list-style-type: none;
    padding: 0%;
}

.delete-button {
    background-color: #124578;
    margin-left: 30px;
    border-radius: 15px;
    color: #ffffff;
}

#taskInput {
    font-size: 25px;
    width: 60%;
    border-radius: 15px;
    text-align: center;
}

.buttons {
    padding-top: 10px;
}

#buttonAdd, #buttonReset {
    background-color: #124578;
    color: #ffffff;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.liElement {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    background: rgba(18,69,120,0.2);
    border-radius: 15px;
}